#my-div {
    margin: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#my-div:hover {
    box-shadow: 3px 3px 2px 3px grey;
    /* horizontal-offsets vertical-offset blur-radius
        spread-distance color*/
}

#heading {
    text-shadow: 2px 2px 2px grey;
    /* horizontal-offsets vertical-offset blur-radius
       color*/
}